<!-- views/login.ejs -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script>
        window.onload = function() {
            const params = new URLSearchParams(window.location.search);
            const error = params.get('error');
            const success = params.get('success');
            if (error) {
                alert(error); // Muestra un mensaje de error
            }
            if (success) {
                alert(success); // Muestra un mensaje de éxito
            }
        };
    </script>
</head>
<body>
    <div class="container">
        <h2>Iniciar Sesión</h2>
        <form action="/login" method="POST">
            <label for="username">Nombre de usuario:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Iniciar Sesión</button>
        </form>
    </div>
</body>
</html>
